<form action="">

    <h1>Dane podstawowe</h1>
    <div class="row">
      <div class="col">
        <mat-form-field class="example-full-width">
          <mat-label>Numer</mat-label>
          <input matInput type="text">
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <mat-label>Rodzaj</mat-label>
          <input matInput type="text">
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <mat-label>Stan</mat-label>
          <input matInput type="text">
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <mat-label>Zgłaszający</mat-label>
          <input matInput type="text">
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <mat-label>Data zamknięcia</mat-label>
          <input matInput type="text">
        </mat-form-field>
  
      </div>
  
      <div class="col">
        <mat-form-field class="example-full-width">
          <mat-label>Status</mat-label>
          <input matInput type="text">
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <mat-label>Przydzielone do</mat-label>
          <input matInput type="text">
        </mat-form-field>
      </div>
    </div>
  
    <h1>Dane szczegółowe</h1>
    <div class="col">
      <mat-form-field class="example-full-width">
        <mat-label>Temat</mat-label>
        <input matInput type="text">
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Opis</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>
  
  </form>
  