form {
    padding-top: 20px;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 15px;
}

.row {
    display: flex;
    flex-direction: row;
}


h1 {
    background-color: var(--accent);
    color: white;
    padding: 7px;
}
