<div class="container">
  <table mat-table [dataSource]="cases" class="mat-elevation-z8">

    <ng-container matColumnDef="check">
      <th [style.width]="'2%'" mat-header-cell *matHeaderCellDef> </th>
      <td [style.width]="'2%'" mat-cell *matCellDef="let case">
        <!-- <input type="checkbox" [checked]="checkedList.has(case.id)" (change)=check(case.id)> -->
        <mat-checkbox [checked]="checkedList.has( case.id)" (click)=check(case.id)></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="Numer">
      <th [style.width]="'2%'" mat-header-cell *matHeaderCellDef> Numer </th>
      <td [style.width]="'2%'" mat-cell *matCellDef="let case"> {{case.case_number}} </td>
    </ng-container>

    <ng-container matColumnDef="Edit">
      <th [style.width]="'3%'" mat-header-cell *matHeaderCellDef> </th>
      <td [style.width]="'3%'" mat-cell *matCellDef="let case">
        <button mat-icon-button [routerLink]='["/case","edit",case.id]'>
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Temat">
      <th [style.width]="'28%'" mat-header-cell *matHeaderCellDef> Temat </th>
      <td [style.width]="'28%'" mat-cell *matCellDef="let case"> {{case.name}} </td>
    </ng-container>

    <ng-container matColumnDef="Aplikacja">
      <th [style.width]="'5%'" mat-header-cell *matHeaderCellDef> Aplikacja </th>
      <td [style.width]="'5%'" mat-cell *matCellDef="let case"> {{case.account_name}} </td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th [style.width]="'10%'" mat-header-cell *matHeaderCellDef> Status </th>
      <td [style.width]="'10%'" mat-cell *matCellDef="let case"> {{case.status}} </td>
    </ng-container>

    <ng-container matColumnDef="Ważnść">
      <th [style.width]="'10%'" mat-header-cell *matHeaderCellDef> Ważnść </th>
      <td [style.width]="'10%'" mat-cell *matCellDef="let case"> {{case.waznosc_c}} </td>
    </ng-container>


    <ng-container matColumnDef="Rodzaj">
      <th [style.width]="'10%'" mat-header-cell *matHeaderCellDef> Rodzaj </th>
      <td [style.width]="'10%'" mat-cell *matCellDef="let case"> {{case.Rodzaj}} </td>
    </ng-container>

    <ng-container matColumnDef="Data wprowadzenia">
      <th [style.width]="'10%'" mat-header-cell *matHeaderCellDef> Data wprowadzenia </th>
      <td [style.width]="'10%'" mat-cell *matCellDef="let case"> {{formDate(case.date_entered)}} </td>
    </ng-container>

    <ng-container matColumnDef="Gwarantowany termin">
      <th [style.width]="'10%'" mat-header-cell *matHeaderCellDef> Gwarantowany termin </th>
      <td [style.width]="'10%'" mat-cell *matCellDef="let case"> {{case.termin_realizacji_c}} </td>
    </ng-container>

    <ng-container matColumnDef="Przydzielona do">
      <th [style.width]="'10%'" mat-header-cell *matHeaderCellDef> Przydzielona do </th>
      <td [style.width]="'10%'" mat-cell *matCellDef="let case"> {{case.assigned_user_name}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
