<div class="comments-box" #commentBox>

  <div class="comment" *ngFor="let comment of comments">
    <div class="comment-info">
      <div class="name">{{comment.name}} </div>
      <div class="date">{{comment.date}}</div>
    </div>
    <div class="comment-content" [innerHtml]="comment.content"></div>
  </div>

  <div class="new-comment-content">
    <label for="comment">Napisz komentarz</label>
    <angular-editor [config]="cfg"  [placeholder]="'Wprowadź komentarz..'" [(ngModel)]="newcomment"></angular-editor>
    <!-- <div [froalaEditor] id="comment" [(froalaModel)]='newcomment'></div> -->
  </div>

  <button (click)='addComment()' mat-raised-button color="primary">Dodaj komentarz</button>

</div>
