<mat-toolbar color="primary">
  <button mat-button (click)="logout()" *ngIf="session$ | async as session;else logged">Wyloguj</button>

  <ng-template #logged>
    <button mat-button [routerLink]="['login']">Zaloguj</button>
  </ng-template>


  <button *ngIf="session$ | async as session"  mat-button [routerLink]=" ['cases','list']">Lista zgłoszeń</button>
  <button *ngIf="session$ | async as session"  mat-button [routerLink]="['case','new']">Nowe zgłoszenie</button>


</mat-toolbar>

<router-outlet></router-outlet>
