/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.comment-content {
    // width: 70vw;

    img {
        width: 100%;
    }
}

body {
    --primary: #bababa;
    --primary-lighter: #eaeaea;
    --primary-darker: #a3a3a3;
    --accent: #c6395a;
    --accent-lighter: #eec4ce;
    --accent-darker: #b1243f;
    --warn: #ff0000;
    --warn-lighter: #ffb3b3;
    --warn-darker: #ff0000;
}