/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.comment-content {
    // width: 70vw;

    img {
        width: 100%;
    }
}

body {
    --primary: #ff0056;
    --primary-lighter: #ffb3cc;
    --primary-darker: #ff003c;
    --accent: #797979;
    --accent-lighter: #d7d7d7;
    --accent-darker: #5c5c5c;
    --warn: #ff0000;
    --warn-lighter: #ffb3b3;
    --warn-darker: #ff0000;
}