form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


mat-form-field {
    width: 30%;
}

.mid {
    margin-left: 5%;
    margin-right: 5%;

}
